{% extends "layout2.html" %}

{% block title %}Desolate{% endblock %}

{% block body %}
<h2 style="font-size: 50px; color: #dc3545;">{{ books1.author }}</h2>
<h5 style="font-size: 20px;">By {{ books1.author }}</h5>
<h6>Year puplished: {{ books1.published_year }}</h6>
<h6>ISBN: {{ books1.isbn }}</h6>
<h6 style="padding-top: 20px">Reviews:</h6>
<p>{ average_rating } <span>&#8226;</span>
 { work_ratings_count } ratings</p>
<form class="comment form-inline my-2 my-lg-0" action="index.html" method="post">
  <input type="text" class="form-control my-3 mr-3" style="width: 75%" name="reveiw" value="" placeholder="Write your review">
  <button class="btn btn-danger my-3" type="submit" name="button">Submit</button>
</form>

<table class="table">
{% for rating in ratings %}
<tr>
<td>
<p><b>{ username }</b></p>
<p>{ review }</p>
</td>
</tr>
{% endfor %}
