h1{
  text-align: center;
  color: white;
  font-size: 40px;
}
#heading{
  background-color: #4b315c;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 576px) {
  #heading>p {
    display: none;
  }
}
#heading>p {
  color: white;
  text-align: center;
}
.pic {
  width: 200px;
  height: 250px;
  float: right;
  margin: 10px
}
.col-sm-3 {
  text-align: center;
}
#SC {
  table-layout: auto;
  width: 500px;
}
.APGsystems>h6::before{
  content: "\27A4"
}

p::selection{
  color: white;
  background-color: #c779d9;
}
